#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 5px;
    margin-top: 0px;
  }

  .parent {
    padding: 10px;
  }

  .child {
    padding: 20px;
  }